@page "/"
@page "/Home"
@page "/{ID}"
@page "/Home/{ID}"

@try
{
	
}
catch (Bases.BaseException ex)
{
	<p>
		@($"Base Exception: {ex}")
	</p>
}
catch (Exception ex)
{
	<p>
		@($"Exception: {ex}")
	</p>
}